---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- Primary Meta Tags -->
		<meta name="title" content="PauProg ðŸ˜" />
		<meta name="description" content="Discover Pauprog's projects and social networks in a simple, accessible hub. Connect with the work of a developer committed to innovation and digital creativity." />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://pauprog.tech/" />
		<meta property="og:title" content="PauProg ðŸ˜" />
		<meta property="og:description" content="Discover Pauprog's projects and social networks in a simple, accessible hub. Connect with the work of a developer committed to innovation and digital creativity." />
		<meta property="og:image" content="/meta.png" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://pauprog.tech/" />
		<meta property="twitter:title" content="PauProg ðŸ˜" />
		<meta property="twitter:description" content="Discover Pauprog's projects and social networks in a simple, accessible hub. Connect with the work of a developer committed to innovation and digital creativity." />
		<meta property="twitter:image" content="/meta.png" />
	</head>
	<body class="bg-black">
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Poppins', sans-serif;
	}
</style>
</style>
